/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer-container {
  width: auto;
  max-width: 1100px;
  padding: 0 15px;
  text-align: center;
}

.container button:hover  {
  background-color:#fafad1;
  color:#207cca;
  padding: 2 2px;
}

/*
body {
  background: url("../images/bg_brick.jpeg");
}
*/
.jumbotron {
  background: url("../images/bg_orange_yellow.jpeg");
  color: #f5f5f9;
}